In [2]:
import pandas as pd

In [ ]:
df_orig_sub = pd.read_csv('sub/metriclearn_efficientnet_b3_ct_pg_exp_Pre060e050_190823_TTA-cossim.csv.gz', index_col=0)

In [9]:
df_pg0 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg0e100_190901_3xTTA-cossim.csv.gz', index_col=0)
df_pg1 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg1e100_190901_3xTTA-cossim.csv.gz', index_col=0)
df_pg2 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg2e100_190901_3xTTA-cossim.csv.gz', index_col=0)
df_pg3 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg3e100_190901_3xTTA-cossim.csv.gz', index_col=0)

In [10]:
df_pg0.shape, df_pg1.shape, df_pg2.shape, df_pg3.shape

((4429, 1), (8846, 1), (4417, 1))

In [11]:
df_pg0.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    292
HEPG2-08_1_B05    836
HEPG2-08_1_B06    249
HEPG2-08_1_B07    200

In [12]:
df_pg1.head()

                sirna
id_code
HUVEC-17_1_B03    312
HUVEC-17_1_B04    450
HUVEC-17_1_B05    301
HUVEC-17_1_B06    272
HUVEC-17_1_B07    784

In [13]:
df_pg2.head()

              sirna
id_code
RPE-08_1_B03    629
RPE-08_1_B04    464
RPE-08_1_B05      4
RPE-08_1_B06    648
RPE-08_1_B07    940

In [15]:
df_pg3.head()

               sirna
id_code
U2OS-04_1_B03    735
U2OS-04_1_B04    228
U2OS-04_1_B05    175
U2OS-04_1_B06    781
U2OS-04_1_B07    766

In [17]:
df_new_sub = df_orig_sub.copy()

In [18]:
def update_sub(df_new_sub, df_ct):
    for i, v in df_ct.iterrows():
        #print(i)
        #print(v.values)
        #print(v.item())
        df_new_sub.loc[i, 'sirna'] = v.values
    return df_new_sub

In [19]:
df_new_sub = update_sub(df_new_sub, df_HEPG2)

In [20]:
#df_new_sub.loc['HEPG2-08_1_B07', 'sirna']

In [21]:
df_new_sub = update_sub(df_new_sub, df_HUVEC)

In [22]:
df_new_sub = update_sub(df_new_sub, df_RPE)

In [23]:
df_new_sub = update_sub(df_new_sub, df_U2OS)

In [24]:
df_new_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    292
HEPG2-08_1_B05    836
HEPG2-08_1_B06    249
HEPG2-08_1_B07    200

In [25]:
df_orig_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    773
HEPG2-08_1_B05    451
HEPG2-08_1_B06    200
HEPG2-08_1_B07   1061

In [26]:
df_orig_sub.tail()

               sirna
id_code
U2OS-05_4_O19    283
U2OS-05_4_O20    926
U2OS-05_4_O21    926
U2OS-05_4_O22    490
U2OS-05_4_O23   1086

In [27]:
# check how man sirnas got really updated
(df_orig_sub == df_new_sub).mean().item()

0.6408001206211992

In [28]:
(df_orig_sub != df_new_sub).mean().item()

0.3591998793788008

In [29]:
df_new_sub.isna().sum().item()

0

In [30]:
#df_new_sub.loc[df_HEPG2.index]

In [31]:
#df_orig_sub != df_new_sub

In [32]:
#df_new_sub[df_orig_sub != df_new_sub]

In [33]:
assert df_orig_sub.shape == df_new_sub.shape

In [35]:
# 'sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg0e100_190901_3xTTA-cossim.csv.gz'
model = 'metriclearn_fficientnet_b3_ct_pg_exp_Pre060e050pg0123e100_190901_3xTTA-cossim'

In [36]:
df_new_sub.to_csv('sub/'+model+'.csv.gz', compression='gzip')

In [37]:
!kaggle competitions submit -c recursion-cellular-image-classification -f sub/{model}.csv.gz -m "{model}"

100%|██████████████████████████████████████| 83.5k/83.5k [00:03<00:00, 22.0kB/s]
Successfully submitted to Recursion Cellular Image Classification