In [1]:
import pandas as pd

In [2]:
df_orig_sub = pd.read_csv('sub/metriclearn_efficientnet_b3_ct_pg_exp_Pre060e050_190823_TTA-cossim.csv.gz', index_col=0)

In [3]:
df_pg0 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg0e100_190901_3xTTA-cossim.csv.gz', index_col=0)
df_pg1 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg1e100_190901_3xTTA-cossim.csv.gz', index_col=0)
df_pg2 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg2e100_190901_3xTTA-cossim.csv.gz', index_col=0)
df_pg3 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg3e100_190901_3xTTA-cossim.csv.gz', index_col=0)

In [4]:
df_pg0.shape, df_pg1.shape, df_pg2.shape, df_pg3.shape

((4979, 1), (4971, 1), (4974, 1), (4973, 1))

In [5]:
df_pg0.head()

                sirna
id_code
HEPG2-08_2_B03    341
HEPG2-08_2_B04      6
HEPG2-08_2_B05    411
HEPG2-08_2_B06    371
HEPG2-08_2_B07    172

In [6]:
df_pg1.head()

                sirna
id_code
HEPG2-08_3_B03   1098
HEPG2-08_3_B04    327
HEPG2-08_3_B05   1032
HEPG2-08_3_B06    169
HEPG2-08_3_B07    189

In [7]:
df_pg2.head()

                sirna
id_code
HEPG2-08_4_B03    215
HEPG2-08_4_B04    636
HEPG2-08_4_B05    365
HEPG2-08_4_B06    382
HEPG2-08_4_B07    963

In [8]:
df_pg3.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    358
HEPG2-08_1_B05     85
HEPG2-08_1_B06    280
HEPG2-08_1_B07    261

In [9]:
df_sub = pd.concat((df_pg0, df_pg1, df_pg2, df_pg3))

In [10]:
df_sub.head()

                sirna
id_code
HEPG2-08_2_B03    341
HEPG2-08_2_B04      6
HEPG2-08_2_B05    411
HEPG2-08_2_B06    371
HEPG2-08_2_B07    172

In [11]:
# 'sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg0e100_190901_3xTTA-cossim.csv.gz'
model = 'metriclearn_fficientnet_b3_ct_pg_exp_Pre060e050pg0123e100_190901_3xTTA-cossim'

In [12]:
df_sub.to_csv('sub/'+model+'.csv.gz', compression='gzip')

In [13]:
!kaggle competitions submit -c recursion-cellular-image-classification -f sub/{model}.csv.gz -m "{model}"

100%|██████████████████████████████████████| 82.3k/82.3k [00:02<00:00, 30.2kB/s]
Successfully submitted to Recursion Cellular Image Classification

In [14]:
df_new_sub = df_orig_sub.copy()

In [15]:
def update_sub(df_new_sub, df_ct):
    for i, v in df_ct.iterrows():
        #print(i)
        #print(v.values)
        #print(v.item())
        df_new_sub.loc[i, 'sirna'] = v.values
    return df_new_sub

In [17]:
df_new_sub = update_sub(df_new_sub, df_pg0)

In [18]:
df_new_sub = update_sub(df_new_sub, df_pg1)

In [19]:
df_new_sub = update_sub(df_new_sub, df_pg2)

In [20]:
df_new_sub = update_sub(df_new_sub, df_pg3)

In [21]:
df_new_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    358
HEPG2-08_1_B05     85
HEPG2-08_1_B06    280
HEPG2-08_1_B07    261

In [22]:
df_orig_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    773
HEPG2-08_1_B05    451
HEPG2-08_1_B06    200
HEPG2-08_1_B07   1061

In [23]:
df_orig_sub.tail()

               sirna
id_code
U2OS-05_4_O19    283
U2OS-05_4_O20    926
U2OS-05_4_O21    926
U2OS-05_4_O22    490
U2OS-05_4_O23   1086

In [24]:
# check how man sirnas got really updated
(df_orig_sub == df_new_sub).mean().item()

0.6790973513595014

In [25]:
(df_orig_sub != df_new_sub).mean().item()

0.32090264864049856

In [26]:
df_new_sub.isna().sum().item()

0

In [30]:
#df_new_sub.loc[df_HEPG2.index]

In [31]:
#df_orig_sub != df_new_sub

In [32]:
#df_new_sub[df_orig_sub != df_new_sub]

In [27]:
assert df_orig_sub.shape == df_new_sub.shape

In [35]:
# 'sub/adacos_efficientnet_b3_ct_pg_exp_Pre060e050pg0e100_190901_3xTTA-cossim.csv.gz'
model = 'metriclearn_fficientnet_b3_ct_pg_exp_Pre060e050pg0123e100_190901_3xTTA-cossim'

In [36]:
df_new_sub.to_csv('sub/'+model+'.csv.gz', compression='gzip')

In [37]:
!kaggle competitions submit -c recursion-cellular-image-classification -f sub/{model}.csv.gz -m "{model}"

100%|██████████████████████████████████████| 83.5k/83.5k [00:03<00:00, 22.0kB/s]
Successfully submitted to Recursion Cellular Image Classification