In [1]:
import pandas as pd

In [2]:
cts = ['HEPG2', 'HUVEC', 'RPE', 'U2OS']

In [3]:
df_orig_sub = pd.read_csv('sub/metriclearn_efficientnet_b3_ct_pg_exp_Pre060e050_190823_TTA-cossim.csv.gz', index_col=0)

In [4]:
df_orig_sub.shape

(19897, 1)

In [5]:
df_orig_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    773
HEPG2-08_1_B05    451
HEPG2-08_1_B06    200
HEPG2-08_1_B07   1061

In [6]:
df_HEPG2 = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_'+cts[0]+'e210_190826_3xTTA-cossim.csv.gz', index_col=0)
df_HUVEC = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_'+cts[1]+'e051_190826_3xTTA-cossim.csv.gz', index_col=0)
df_RPE = pd.read_csv('sub/adacos_efficientnet_b3_ct_pg_exp_'+cts[2]+'e184_190826_3xTTA-cossim.csv.gz', index_col=0)

In [7]:
df_HEPG2.shape, df_HUVEC.shape, df_RPE.shape

((4429, 1), (8846, 1), (4417, 1))

In [8]:
df_HEPG2.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    292
HEPG2-08_1_B05    836
HEPG2-08_1_B06    249
HEPG2-08_1_B07    200

In [9]:
df_HUVEC.head()

                sirna
id_code
HUVEC-17_1_B03    312
HUVEC-17_1_B04    450
HUVEC-17_1_B05    301
HUVEC-17_1_B06    272
HUVEC-17_1_B07    784

In [10]:
df_RPE.head()

              sirna
id_code
RPE-08_1_B03    629
RPE-08_1_B04    464
RPE-08_1_B05      4
RPE-08_1_B06    648
RPE-08_1_B07    940

In [11]:
#df_orig_sub.loc['HEPG2-08_1_B06', 'sirna']

In [12]:
df_new_sub = df_orig_sub.copy()

In [13]:
def update_sub(df_new_sub, df_ct):
    for i, v in df_ct.iterrows():
        #print(i)
        #print(v.values)
        #print(v.item())
        df_new_sub.loc[i, 'sirna'] = v.values
    return df_new_sub

In [14]:
df_new_sub = update_sub(df_new_sub, df_HEPG2)

In [15]:
#df_new_sub.loc['HEPG2-08_1_B07', 'sirna']

In [16]:
df_new_sub = update_sub(df_new_sub, df_HUVEC)

In [17]:
df_new_sub = update_sub(df_new_sub, df_RPE)

In [18]:
df_new_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    292
HEPG2-08_1_B05    836
HEPG2-08_1_B06    249
HEPG2-08_1_B07    200

In [19]:
df_orig_sub.head()

                sirna
id_code
HEPG2-08_1_B03    855
HEPG2-08_1_B04    773
HEPG2-08_1_B05    451
HEPG2-08_1_B06    200
HEPG2-08_1_B07   1061

In [20]:
df_orig_sub.tail()

               sirna
id_code
U2OS-05_4_O19    283
U2OS-05_4_O20    926
U2OS-05_4_O21    926
U2OS-05_4_O22    490
U2OS-05_4_O23   1086

In [21]:
# check how man sirnas got really updated
(df_orig_sub == df_new_sub).mean().item()

0.7290043725184702

In [22]:
(df_orig_sub != df_new_sub).mean().item()

0.2709956274815299

In [23]:
df_new_sub.isna().sum().item()

0

In [24]:
#df_new_sub.loc[df_HEPG2.index]

In [25]:
#df_orig_sub != df_new_sub

In [26]:
#df_new_sub[df_orig_sub != df_new_sub]

In [27]:
assert df_orig_sub.shape == df_new_sub.shape

In [28]:
# 'effnet/adacos_efficientnet_b3_ct_pg_exp_'+ct+'e051_190826'
# 'effnet/adacos_efficientnet_b3_ct_pg_exp_'+ct+'e210_190826'
#model = 'metriclearn_efficientnet_b3_ct_pg_exp_HUVECe051u_190826_3xTTA-cossim'
#model = 'metriclearn_efficientnet_b3_ct_pg_exp_uHEPG2e210_190826_3xTTA-cossim'
model = 'metriclearn_efficientnet_b3_ct_pg_exp_HUVECe051uHEPG2e210uRPE184_190826_3xTTA-cossim'

In [29]:
df_new_sub.to_csv('sub/'+model+'.csv.gz', compression='gzip')

In [30]:
!kaggle competitions submit -c recursion-cellular-image-classification -f sub/{model}.csv.gz -m "{model}"

100%|██████████████████████████████████████| 83.9k/83.9k [00:05<00:00, 14.7kB/s]
Successfully submitted to Recursion Cellular Image Classification

In [44]:
35376/73030*0.77

0.3729908256880734

In [45]:
15500/73030*0.54

0.11461043406819116

In [47]:
15506/73030*0.6

0.1273942215527865

In [48]:
0.37+0.11+0.12

0.6